.card>.btn> img{
display:block;
width: 7cm;
height:7cm;
margin-bottom: 2vh;

}

li{
display: inline-block;
margin-left: 2vw;
margin-bottom: 10vh;
}

#publi{
    background-color: rgb(255, 211, 243);
}
#suppr{
    display:none;
}